{% extends "relAdmin/admin_base_gestao.html" %}

{% block titulo_pagina %}Gestão de Atores{% endblock %}
{% block sub_titulo_caminho %}Atores{% endblock %}

{% block cabecalhos_tabela %}
    <th>Nome do Ator</th>
{% endblock %}

{% block linhas_tabela %}
    {% for ator in itens %}
    <tr>
        <td><strong>{{ ator.nome }}</strong></td>
        <td style="text-align: right;">
            <a href="{% url 'editar_item_admin' 'ator' ator.id %}" class="btn-acao"><i class="fas fa-edit"></i></a>
            <a href="{% url 'apagar_item_admin' 'ator' ator.id %}" class="btn-acao btn-delete" onclick="return confirm('Apagar?');"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="2" class="text-center">Nenhum resultado encontrado para "{{ query }}".</td></tr>
    {% endfor %}
{% endblock %}