{% extends "relAdmin/admin_base_gestao.html" %}

{% block titulo_pagina %}Utilizadores{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard_admin' %}">Painel Administrativo</a></li>
    <li class="breadcrumb-item active">Utilizadores</li>
{% endblock %}

{% block sub_titulo %}Lista de Contas Registadas{% endblock %}



{% block cabecalhos_tabela %}
    <th>Username</th>
    <th>Email</th>
    <th>Tipo</th>
    <th>Data de Entrada</th>
{% endblock %}

{% block linhas_tabela %}
    {% for u in itens %}
        <tr>
            <td><strong>{{ u.username }}</strong></td>
            <td>{{ u.email }}</td>
            <td>
                {% if u.is_superuser %}
                    <span class="label label-danger" style="background-color: #d9534f;">Superuser</span>
                {% elif u.is_staff %}
                    <span class="label label-info" style="background-color: #5bc0de;">Staff</span>
                {% else %}
                    <span class="label label-default">User</span>
                {% endif %}
            </td>
            <td style="color: #666;">{{ u.date_joined|date:"d/m/Y" }}</td>
            <td style="text-align: right;">
                <a href="{% url 'perfil_detalhado' u.id %}?origem=admin" class="btn-acao"><i class="fas fa-eye"></i></a>
                <a href="{% url 'editar_perfil' u.id %}" class="btn-acao"><i class="fas fa-user-edit"></i></a>

                {% if not u.is_superuser %}
                    <a href="{% url 'apagar_utilizador' u.id %}" class="btn-acao btn-delete"
                       onclick="return confirm('Apagar utilizador?')">
                       <i class="fas fa-trash"></i>
                    </a>
                {% else %}
                    <span class="btn-acao" style="opacity: 0.3; cursor: not-allowed;" title="Superuser Protegido">
                        <i class="fas fa-lock"></i>
                    </span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}